@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap");
* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: capitalize;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: black;
}

html::-webkit-scrollbar-thumb {
  background: crimson;
  border-radius: 5rem;
}

body {
  background: black;
  padding-bottom: 6.5rem;
}

.heading {
  text-align: center;
  font-size: 6rem;
  color: white;
  margin-bottom: 3rem;
  text-transform: uppercase;
}

.heading span {
  color: crimson;
  text-transform: uppercase;
}

section {
  padding: 5rem 9%;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  border-radius: 5rem;
  background: crimson;
  padding: .7rem;
  font-size: 1.7rem;
  color: white;
  padding-left: 2rem;
}

.btn i {
  height: 4rem;
  width: 4rem;
  line-height: 4rem;
  font-size: 1.7rem;
  text-align: center;
  background: white;
  color: crimson;
  border-radius: 50%;
  margin-left: 1rem;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

.btn i:hover {
  margin-left: 2rem;
}

.navbar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 1000;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.navbar a {
  padding: 2rem;
  font-size: 2rem;
  background: #0d0d0d;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: white;
  text-align: center;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

.navbar a:hover {
  background: crimson;
  padding-bottom: 4rem;
}

.navbar a:hover i {
  color: white;
}

.navbar i {
  color: crimson;
  padding-right: .8rem;
}

.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 4rem;
  min-height: calc(100vh - 6.5rem);
}

.home .image {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 42rem;
          flex: 1 1 42rem;
  text-align: center;
}

.home .image img {
  height: 50rem;
  width: 50rem;
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
}

.home .content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 42rem;
          flex: 1 1 42rem;
}

.home h3 {
  color: white;
  font-size: 3.5rem;
  padding-bottom: .5rem;
}

.home span {
  font-size: 3rem;
  color: crimson;
  padding: .5rem 0;
  display: block;
}

.home p {
  font-size: 1.5rem;
  color: #d3d1d1;
  padding: 1rem 0;
  line-height: 2;
}

.about .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2rem;
}

.about .row .info-container {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 42rem;
          flex: 1 1 42rem;
}

.about .row .info-container h1 {
  font-size: 3rem;
  color: white;
  text-transform: uppercase;
  padding-bottom: 1rem;
}

.about .row .info-container .box-container {
  padding: 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2rem;
}

.about .row .info-container .box-container .box {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 20rem;
          flex: 1 1 20rem;
}

.about .row .info-container .box-container .box h3 {
  font-size: 1.7rem;
  color: white;
  padding: 1rem 0;
  font-weight: normal;
}

.about .row .info-container .box-container .box h3 span {
  color: #7a7a7a;
}

.about .row .count-container {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 42rem;
          flex: 1 1 42rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2rem;
}

.about .row .count-container .box {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 20rem;
          flex: 1 1 20rem;
  padding: 3rem 4rem;
  border-radius: .5rem;
  background: #0d0d0d;
  -webkit-box-shadow: 0.5rem 1 rem rgba(0, 0, 0, 0.7);
          box-shadow: 0.5rem 1 rem rgba(0, 0, 0, 0.7);
}

.about .row .count-container .box h3 {
  font-size: 5rem;
  color: crimson;
}

.about .row .count-container .box p {
  font-size: 2rem;
  color: #a0a0a0;
}

.skills .box-container {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2rem;
}

.skills .box-container .box {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 42rem;
          flex: 1 1 42rem;
  padding: 2rem;
  border-radius: .5rem;
  text-align: center;
  background: #0d0d0d;
  -webkit-box-shadow: 0.5rem 1 rem rgba(0, 0, 0, 0.7);
          box-shadow: 0.5rem 1 rem rgba(0, 0, 0, 0.7);
}

.skills .box-container .box img {
  height: 20rem;
  margin-bottom: 1rem;
}

.skills .box-container .box h3 {
  color: white;
  font-size: 1.7rem;
  font-weight: normal;
}

.portfolio {
  text-align: center;
}

.portfolio .box-container {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2rem;
}

.portfolio .box-container .box {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 2rem;
  border-radius: .7rem;
  text-align: center;
  background: #0d0d0d;
  -webkit-box-shadow: 0.5rem 1 rem rgba(0, 0, 0, 0.7);
          box-shadow: 0.5rem 1 rem rgba(0, 0, 0, 0.7);
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

.portfolio .box-container .box img {
  height: 20rem;
  margin-bottom: 1rem;
}

.portfolio .box-container .box .content {
  position: flex;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.portfolio .box-container .box .content h3 {
  color: white;
  font-size: 2rem;
  font-weight: normal;
}

.portfolio .box-container .box .content p {
  color: #a0a0a0;
  font-size: 1.7rem;
}

.portfolio .box-container .box .content a {
  font-size: 1.5rem;
  font-weight: normal;
  color: crimson;
}

.portfolio .box-container .box .content a:hover {
  font-size: 2rem;
}

.portfolio .box-container .box:hover {
  background: #353434;
}

/* media queries  */
@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }
  section {
    padding: 3rem 2rem;
  }
}

@media (max-width: 768px) {
  .heading {
    font-size: 12vh;
  }
  .navbar a i {
    padding: 0;
  }
  .navbar a span {
    display: none;
  }
  .navbar a:hover {
    padding-bottom: 2em;
  }
  .home {
    text-align: center;
    gap: 2rem;
  }
  .home .image img {
    height: 30rem;
    width: 30rem;
  }
  .home .content h3 {
    font-size: 3rem;
  }
  .home .content span {
    font-size: 2.5rem;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
}
/*# sourceMappingURL=style.css.map */