@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;border: none;
    text-transform: capitalize;
}


 $box-shadow: 0.5rem 1 rem rgba(0,0,0,.7); 
 
 @mixin grid($val) {
     display: grid;
     grid-template-columns: repeat(auto-fit, minimax($val, 1fr));
     gap: 1rem;
 }



html{
   font-size: 62.5%;
   overflow-x: hidden;

    &::-webkit-scrollbar{
       width: 1rem;
   }

    &::-webkit-scrollbar-track{
    background: black;
    }

    &::-webkit-scrollbar-thumb{
        background: crimson;
        border-radius: 5rem;
    }
}


    body{
        background: black;
        padding-bottom: 6.5rem;
    }

    .heading{
        text-align: center;
        font-size: 6rem;
        color: white;
        margin-bottom: 3rem;
        text-transform: uppercase;

        span{
            color: crimson;
            text-transform: uppercase;
        }
    }

    section{
        padding: 5rem 9%;
    }


    .btn{
        display: inline-block;
        margin-top: 1rem;
        border-radius: 5rem;
        background: crimson;
        padding: .7rem;
        font-size: 1.7rem;
        color: white;
        padding-left: 2rem;
        

        i{
            height: 4rem;
            width: 4rem;
            line-height: 4rem;
            font-size: 1.7rem;
            text-align: center;
            background: white;
            color: crimson;
            border-radius: 50%;
            margin-left: 1rem;
            transition: .2s linear;

            &:hover{
                margin-left: 2rem;
            }
        }
    }

    .navbar{
        position: fixed;
        bottom: 0; left: 0; right: 0;
        display: flex;
        z-index: 1000;
        align-items: flex-end;

        a{
            padding:2rem;
            font-size: 2rem;
            background: #0d0d0d;
            flex: 1;
            color: white;
            text-align: center;
            transition: .2s linear;

            &:hover{
                background: crimson;
                padding-bottom: 4rem;

                i{
                    color: white;
                }
            }
        
        }

        i{
            color: crimson;
            padding-right: .8rem;
        }
    }
   
    .home{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 4rem;
        min-height: calc(100vh - 6.5rem);


        .image{
            flex: 1 1 42rem;
            text-align: center;

            img{
                height: 50rem;
                width: 50rem;
                border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
            }
        }

        .content{
            flex: 1 1 42rem;
        }

        h3{
            color: white;
            font-size: 3.5rem;
            padding-bottom: .5rem;
        }

        span{
            font-size: 3rem;
            color: crimson;
            padding:.5rem 0;
            display: block;
        }

        p{
            font-size:1.5rem ;
            color: rgb(211, 209, 209);
            padding: 1rem 0;
            line-height: 2;

        }


    }

    .about{

        .row{
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            gap:2rem;

            .info-container{
                flex: 1 1 42rem;
                
                h1{
                    font-size: 3rem;
                    color: white;
                    text-transform: uppercase;
                    padding-bottom: 1rem;
                }
    
                 .box-container{
                    padding: 1rem 0;
                    display: flex;
                    flex-wrap: wrap;
                    gap:2rem;
    
                    .box{
                        flex: 1 1 20rem;
    
                       h3{
                           font-size: 1.7rem;
                           color: white;
                            padding: 1rem 0;
                            font-weight: normal;
    
                           span{
                               color: rgb(122, 122, 122);
                            }
                        }
                     }
                }
            }
    
            .count-container{
                flex: 1 1 42rem;
                display: flex;
                flex-wrap: wrap;
                gap: 2rem;

                .box{
                    flex: 1 1 20rem;
                    padding: 3rem 4rem;
                    border-radius: .5rem;
                    background: #0d0d0d;
                    box-shadow: $box-shadow;

                    h3{
                        font-size: 5rem;
                        color: crimson;
                    }

                    p{
                        font-size: 2rem;
                        color: #a0a0a0;
                    }
                }
            } 
        }

        
    }
    

    .skills{

        .box-container{
            flex: 1;
            display: flex;
            flex-wrap: wrap;
            gap: 2rem;


            .box{
                flex: 1 1 42rem;
                padding: 2rem;
                border-radius: .5rem;
                text-align: center;
                background: #0d0d0d;
                box-shadow: $box-shadow;
                
                img{
                    height: 20rem;
                    margin-bottom: 1rem;
                    
                }

                h3{
                    color: white;
                    font-size: 1.7rem;
                    font-weight: normal;
                }
            }
        }
    }

    .portfolio{
       // padding: 5rem;
       text-align: center;

        .box-container{
            flex: 1;
            display: flex;
            flex-wrap: wrap;
            gap: 2rem;
            
            .box{
                flex: 1;
                padding: 2rem;
                border-radius: .7rem;
                text-align: center;
                background: #0d0d0d;
                box-shadow: $box-shadow;
                transition: .2s linear;
    
                img{
                    height: 20rem;
                    margin-bottom: 1rem;
                }

                .content{
                    position:flex;
                        top: 0;left: 0;
                        //background: #0d0d0d;
                        //height: 20rem;
                        display: flex;
                        flex-flow: column;
                   
                    h3{
                        color: white;
                        font-size: 2rem;
                        font-weight: normal; 
                    }

                    p{
                        color: #a0a0a0;
                        font-size: 1.7rem;
                    }

                    a{
                        font-size: 1.5rem;
                        font-weight: normal;
                        color: crimson;

                        &:hover{
                            font-size: 2rem;
                        }
                    }

                   
                }

                &:hover{
                    background: #353434;
                }
            }
        }
    }
   






















    /* media queries  */

    @media(max-width:1200px){
        
        html{
            font-size: 55%;
        }
        section{
            padding: 3rem 2rem;
        }
    }

    @media(max-width:768px){

        .heading{
            font-size: 12vh;
        }
        .navbar{

            a{
                i{
                    padding: 0;
                }

                span{
                    display: none;
                }
                &:hover{
                    padding-bottom: 2em;
                }
            }
        }

        .home{
            text-align: center;
            gap: 2rem;

            .image img{
                height: 30rem;
                width: 30rem;
            }

            .content{

                h3{
                    font-size: 3rem;
                }

                span{
                    font-size: 2.5rem;
                }
            }
        }
    }





    @media(max-width:450px){
        
        html{
            font-size: 50%;
        }
    }
